.form-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.image-container {
    display: flex;
    flex-direction: column;
}

.form-left {
    display: flex;
    flex-direction: column;
}

.form-right {
    display: flex;
    flex-direction: column;
}

fieldset {
    display: flex;
    gap: 10px;
}

body {
    display: flex;
    margin: 0px;
}