.form-container {
    display: flex;
    flex-direction: column;
    padding: 50px 0px 50px 0px;
    justify-content: center;
}

.title-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.form-left,
.form-right {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

fieldset {
    display: flex;
    gap: 100px;
    padding: 20px;
}


body {
    display: flex;
    margin: 0px;
    background-color: #f9fafb;
}

@font-face {
    font-family: norse-bold;
    src: url("fonts/Norse-Bold.otf") format("opentype");
}


h1,
input[type="text"] {
    font-size: large;
}

img {
    width: auto;
    height: 600px;
}

.img-text {
    position: absolute;
    color: white;
    font-size: 50px;
    font-family: norse-bold;
}